.scroll-float {
  overflow: hidden;
  margin: 0;
}

.scroll-float-text {
  display: inline-block;
  line-height: 1.1;
}

.scroll-float-char {
  display: inline-block;
  will-change: opacity, transform;
}
